/node_modules/
/node_modules
/outputs/
/review_output/
/cuphead/
/winlator/
*.apk
*.aab
*.apks
*.bin
*.tzst
*.zip
/bibliografia/estado_del_arte/export_*.csv
/ejecuciones/22-revision-bibliografia-local-20260830/evidencias/candidatos_adicionales.csv
/ejecuciones/22-revision-bibliografia-local-20260830/evidencias/duplicados_scopus.csv
/ejecuciones/22-revision-bibliografia-local-20260830/evidencias/inventario_bibliografia.csv
